*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# project specific
app/src/main/assets/*
docs/dokka-generated
app_certificate.jks
app_certificate.base64
app/google-services.json
app/google_services_json.base64
